In [1]:
import pandas as pd

In [9]:
quotes = pd.read_csv('quotes.csv')

                                                Quote              Author
0   The world as we have created it is a process o...     Albert Einstein
1   It is our choices, Harry, that show what we tr...        J.K. Rowling
2   There are only two ways to live your life. One...     Albert Einstein
3   The person, be it gentleman or lady, who has n...         Jane Austen
4   Imperfection is beauty, madness is genius and ...      Marilyn Monroe
..                                                ...                 ...
95  You never really understand a person until you...          Harper Lee
96  You have to write the book that wants to be wr...   Madeleine L'Engle
97  Never tell the truth to people who are not wor...          Mark Twain
98          A person's a person, no matter how small.           Dr. Seuss
99  ... a mind needs books as a sword needs a whet...  George R.R. Martin

[100 rows x 2 columns]